In [2]:
familia = {"nombres":[], "apellidos":[], "edades":[], "hijos":[]}

In [9]:
lista_nombres = input('escribe 3 nombres')

In [19]:
lista_nombres

'Lara Alejandro Ana'

In [22]:
lista_final1 = lista_nombres.split()
lista_final1

['Lara', 'Alejandro', 'Ana']

In [24]:
lista_apellidos = input('escribe 3 apellidos')
lista_apellidos

'Ruiz, Lopez, Barquín'

In [26]:
lista_final2 = lista_apellidos.split()
lista_final2

['Ruiz,', 'Lopez,', 'Barquín']

In [53]:
lista_edades = input('escribe 3 edades')
lista_edades

'31 33 25'

In [54]:
lista_final3 = lista_edades.split()
lista_final3

['31', '33', '25']

In [56]:
lista_hijos = input('cuantos hijos tienes')
lista_hijos

'1 2 3'

In [57]:
lista_final4 = lista_hijos.split()
lista_final4

['1', '2', '3']

In [58]:
familia.update({'nombres':lista_final1})
familia.update({'apellidos':lista_final2})
familia.update({'edades':lista_final3})
familia.update({'hijos':lista_final4})

In [59]:
familia

{'nombres': ['Lara', 'Alejandro', 'Ana'],
 'apellidos': ['Ruiz,', 'Lopez,', 'Barquín'],
 'edades': ['31', '33', '25'],
 'hijos': ['1', '2', '3'],
 'hermanos': []}

In [60]:
familia.update({'hermanos':[]})
familia

{'nombres': ['Lara', 'Alejandro', 'Ana'],
 'apellidos': ['Ruiz,', 'Lopez,', 'Barquín'],
 'edades': ['31', '33', '25'],
 'hijos': ['1', '2', '3'],
 'hermanos': []}

In [61]:
familia.keys()

dict_keys(['nombres', 'apellidos', 'edades', 'hijos', 'hermanos'])

In [62]:
familia.values()

dict_values([['Lara', 'Alejandro', 'Ana'], ['Ruiz,', 'Lopez,', 'Barquín'], ['31', '33', '25'], ['1', '2', '3'], []])

In [63]:
familia.get('nombres')

['Lara', 'Alejandro', 'Ana']

In [64]:
familia.setdefault('nombres')

['Lara', 'Alejandro', 'Ana']

In [65]:
familia.setdefault('nacionalidad', 'desconocida')

'desconocida'

In [66]:
familia

{'nombres': ['Lara', 'Alejandro', 'Ana'],
 'apellidos': ['Ruiz,', 'Lopez,', 'Barquín'],
 'edades': ['31', '33', '25'],
 'hijos': ['1', '2', '3'],
 'hermanos': [],
 'nacionalidad': 'desconocida'}

In [67]:
familia.items()

dict_items([('nombres', ['Lara', 'Alejandro', 'Ana']), ('apellidos', ['Ruiz,', 'Lopez,', 'Barquín']), ('edades', ['31', '33', '25']), ('hijos', ['1', '2', '3']), ('hermanos', []), ('nacionalidad', 'desconocida')])

In [68]:
familia.pop('nacionalidad')

'desconocida'

In [69]:
familia

{'nombres': ['Lara', 'Alejandro', 'Ana'],
 'apellidos': ['Ruiz,', 'Lopez,', 'Barquín'],
 'edades': ['31', '33', '25'],
 'hijos': ['1', '2', '3'],
 'hermanos': []}

In [122]:
lista_edades = [int(i) for i in lista_final3]

In [123]:
lista_hijos = [int(i) for i in lista_final4]

In [124]:
lista_nombres = familia.get('nombres')
lista_nombres

['Lara', 'Alejandro', 'Ana']

In [127]:
max(lista_hijos)

3

In [129]:
lista_hijos.index(3)

2

In [130]:
lista_nombres[2]

'Ana'

In [131]:
min(lista_edades)

25

In [132]:
lista_edades.index(25)

2

In [133]:
lista_nombres[2]

'Ana'