In [9]:
import random
lista = random.sample(range(1,100), 10)

In [10]:
lista

[82, 65, 42, 4, 17, 93, 11, 72, 59, 52]

In [11]:
len(lista)

10

In [12]:
lista [2]

42

In [13]:
lista [-8]

42

In [14]:
lista1 = input('Dime un número de la lista')

In [15]:
lista1

'17'

In [17]:
lista.index(17)

4

In [ ]:
lista[2:5]

[31, 53, 76]

In [ ]:
lista[-5:-1]

[90, 82, 35, 48]

In [ ]:
#pares
lista[1::2]

[75, 53, 90, 35, 86]

In [ ]:
#impares
lista[::2]

[37, 31, 76, 82, 48]

In [20]:
nombres = ['Laura', 'Lorena', 'Lupe', 'Loreto', 'Lucía']
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [ ]:
nombres.index('Lupe')

2

In [ ]:
notas[2]

9.8

In [ ]:
max(notas)

9.8

In [ ]:
notas.index(9.8)

2

In [ ]:
#alumna que ha sacado la nota más alta
nombres[2]

'Lupe'

In [ ]:
min(notas)

8.5

In [ ]:
notas.index(8.5)

1

In [ ]:
#alumna que ha sacado la nota más baja
nombres[1]

'Lorena'

In [ ]:
notas.index(8.5)

1

In [ ]:
min(notas)>5

True

In [25]:
print(sorted(notas))

[8.5, 8.9, 9, 9.2, 9.8]

In [26]:
notas_nuevo_orden = sorted(notas)

In [27]:
notas_nuevo_orden

[8.5, 8.9, 9, 9.2, 9.8]

In [28]:
notas.sort()

In [29]:
notas

[8.5, 8.9, 9, 9.2, 9.8]

In [33]:
notas.sort (reverse = True)

In [34]:
notas

[9.8, 9.2, 9, 8.9, 8.5]

In [36]:
nombres.sort()

In [37]:
# Ocurre que se han ordenado alfabeticamente
nombres

['Laura', 'Lorena', 'Loreto', 'Lucía', 'Lupe']

In [38]:
del notas

In [39]:
notas

NameError: name 'notas' is not defined

In [90]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [91]:
lunes_copia = lunes

In [92]:
lunes.append(martes)

In [94]:
lunes.append(miercoles)

In [95]:
lunes

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [98]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [99]:
lunes.extend(martes + miercoles)

In [100]:
lunes

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [108]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [109]:
lunes.insert(0, 100)

In [110]:
lunes

[100, 34, 56, 82]

In [111]:
martes.insert(2, 100)

In [112]:
martes

[99, 64, 100, 24]

In [113]:
miercoles.append(100)

In [114]:
miercoles

[12, 59, 71, 100]