In [33]:
nombres = input("¿Cómo se llaman tus amigos?")

In [34]:
nombres

'Vero, Marina, Victoria'

In [35]:
lista_nombres = nombres.split("¿Cómo se llaman tus amigos?")

In [36]:
lista_nombres

['Vero, Marina, Victoria']

In [23]:
alturas = input("¿Qué altura tienen tus amigas?")

In [24]:
alturas

'1.45, 1.56, 1.67'

In [25]:
lista_alturas = alturas.split(",")

In [26]:
lista_alturas

['1.45', ' 1.56', ' 1.67']

In [27]:
lista_alturas = [float(i) for i in lista_alturas]

In [28]:
print(lista_alturas)

[1.45, 1.56, 1.67]

In [40]:
lista_ordenada_nombres = lista_nombres.sort()

In [42]:
lista_ordenada_nombres

In [44]:
print(lista_nombres)

['Vero, Marina, Victoria']

In [45]:
lista_ordenada_alturas = lista_alturas.sort()

In [46]:
lista_ordenada_alturas

In [48]:
print(lista_alturas)

[1.45, 1.56, 1.67]

In [49]:
altura_maxima = max(lista_alturas)

In [50]:
altura_maxima

1.67

In [51]:
altura_minima = min(lista_alturas)

In [52]:
altura_minima

1.45

In [58]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [59]:
lista_lista = [lista1, lista2]

In [60]:
lista_lista

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [61]:
lista_numeros = lista1 + lista2

In [62]:
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [63]:
lista_lista.count(67)

0

In [64]:
lista_numeros.count(67)

2

En el primer caso, da como resultado cero, porque "Lista_lista" no entiende entre sus contenidos cada numero individual, si no que ve dos listas. En el segundo caso, sí nos está diciendo cuántas veces aparece el número 67 porque si entiende que tiene números en su lista.

In [65]:
lista_numeros.reverse()

In [66]:
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]

;) Happy Coding :)